html {
  scroll-behavior: smooth;
}
body {
  text-align: center;
  margin: 0;
  color: black;
}
h1 {
  margin: 0;
  padding: 1.5em;
  text-decoration: underline;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
/* NAVBAR */
.navbarDesktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 18px;
}
.navbarDesktop p {
  padding: 25px 20px;
}
.navbarDesktop a {
  color: white;
  text-decoration: none;
}
.navbarDesktop a:hover {
  background-color: #ddd;
  color: black;
}
.navbarDesktopMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5%;
}
.navbarPhone {
  display: none;
} 
/* LANDING */
.landing {
  color: black;
  margin-top: 10vh;
  height: 90vh;
  background-image: url("https://otg.imgix.net/assets/grid/barcelona/poble-nou/ultra-local-records/LB_ONTHEGRID_0000s_0002_Retoques-copia-2.jpg?auto=format%2Ccompress&crop=focalpoint&fit=min&fm=jpg&fp-x=0.5&fp-y=0.5&ixlib=php-1.1.0&q=80&w=1200&s=74130115f47b881d2496284670f45076");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover; 
  background-attachment: fixed;
}
.pinkBox{
  padding: 20%;
  line-height: 2;
  height: 30vh;
} 
.landingContent {
  padding: 30vh 30vw;
  background-color: thistle;
  padding: 10% 20%;
}
.landingContent h1 {
  padding: 0;
}
/* LOCATION */
.location {
  height: 90vh;
  padding-top: 10vh;
  margin-top: -10vh;
}
iframe {
  height: 50vh;
  width: 60vw;
  margin-bottom: 1em;
}
.location p {
  font-size: 18px;
  line-height: 2;
}
.location a {
  color: black;
}
/* COLUMNS CONFIGURATION */
.col2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
/* GALLERY */
.gallery {
  padding: 10vh 10%;
  margin-top: -10vh;
}
.gallery img {
  width: 30vw;
  margin: 0 auto;
  border: 1px solid black;
}
/* RELEASES */
.releases {
  padding: 0 15%;
  padding-top: 10vh;
  margin-top: -10vh;
}
.album {
  width: 30vw;
  padding-bottom: 1.5em;
}
.releases h3 {
  line-height: 2;
}
.releases img {
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
}
.releases p {
  line-height: 2;
}
/* TEAM */
.team {
  padding: 10vh 15%;
  padding-top: 10vh;
  margin-top: -10vh;
}
.team img {
  width: 30vw;
  margin: 0 auto;
  border: 1px solid black;
}
/* FOOTER */
footer {
  background-color: black;
  color: white;
  padding: 2em;
  line-height: 1.5;
}
footer a {
  color: white;
}
/* mobile version */
@media all and (max-width:650px) {
  .navbarDesktop {
    display: none;
  }
  .navbarPhone {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: black;
    padding: 1em;
    height: 5vh;
  }
  .navbarPhone a {
    text-decoration: none;
    color: white;
  }
  .navbarPhone a:hover {
    background-color: #ddd;
    color: black;
  }
  .landing {
    margin-top: 5vh;
    height: 95vh;
  }
  .col2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .location {
    height: auto;
    margin-bottom: 10vh;
  }
  iframe {
    height: 70vh;
    width: 90vw;
  }
  .gallery {
    margin-bottom: 10vh;
  }
  .gallery img {
    width: 70vw;
  }
  .releases {
    margin-bottom: 10vh;
  }
  .album {
    width: 70vw;
    margin: 0 auto;
  } 
  .team img {
    width: 70vw;
  }
}







